/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-apr-2016, 13.36.13
    Author     : Boi Filippo 47876
*/
/*dichiaro le caratteristiche stilistiche generali del sito*/

body 
{
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: black;
    background-color: #F0F7DA;  
}

/*dichiaro le caratteristiche stilistiche per i titoli
 *tutti i titoli avranno un font diverso, per motivi di leggibilità
 * i titoli più rilevanti (dal h1 al h3) avranno colori diversi
 * per rimarcare la differenza di importanza
 */

 h1,h2,h3,h4,h5,h6
 {
    font-family: Verdena, sans-serif;
 }

h1
{
    font-style: italic;
    color: #1F192F;
}

h2
{
    color: #2D6073;
}

h3
{
    color: #65B8A6;
}

/*quando l'utente passa il mouse sopra un link, questo verrà evidenziato, in maniera graduale*/
 a:hover
{
    background-color: #B5E8C3;
    color: orange;
    transition: background-color;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
}

/* quando l'utente non avrà più il mouse sopra un link, questo tornerà gradualmente alle sue dimensioni originali*/
a
{
    text-decoration: none;
    transition: 0.5s;
    color: black;
}

/*la navigazione all'interno del sito (login, Venditore e via dicendo) sarà una lista posta a sinistra rispetto alla pagina*/

nav#navigator, nav#navigator a
{
    text-align: right;
    transition: none;
    border-radius: 0px;
}

nav#navigator a:hover
{
    color: black;
    transition: none;
    font-size: 15px;
    border: 2px solid blue;
    border-radius:0px;
    padding: 1px;
    background-color: lightgray;
}

li
{   
    display: inline;
    text-align: center;
}
/*vado a modificare gli stili di input sia per il login che per l'inserimento dei nuovi articoli*/ 
input
{
    font-family: "Times New Roman", Elvetica, sans-serif; 
    margin: 4px;
    padding: 5px;
}
input:focus,#descrizioneitm:focus
{
    border: 2px solid grey;
    background-color: lightyellow; 
}

input#submit
{
    margin-top: 7%;
    text-align: center;
    height: 33%;
    width: 66%;
    font-size: 200%;
}

div .formCenter
{
   text-align: left;
   position: absolute;
   left:45%;
}


/*imposto le caratteristiche per la tabella*/
table, th, td
{
    border-collapse: collapse;
    border: 1px solid orange;
    text-align: center;
}

tr#pari
{
    background-color: #e5f2c0;
}

th
{
    font-style: italic;
    font-family: "Amaranth", Verdana, sans-serif;
    background-color: #ddedab;
    color:#1F192F;
    height: 75px;
}

/*imposto le caratteristiche delle colonne e delle righe. nel file cliente.html sono stati aggiunti gli ID per evitare di andare a modificare tutte le tabelle
 *che sono o che saranno presenti, limitando le modifiche alla sola interfaccia del cliente*/

#descrizione
{
    width:50%;
    text-align: left;
}
th#descrizione
{
    text-align: center;
}

#immagine
{
    width: 6%;
    height: 6%;
}

#price
{
    width: 5%;
}

#nomearticolo
{
    width: 5%;
}

#qta
{
    width: 4%;
}

#acquisto-car
{
    width: 10%;
}
/*per descrizione.html avrò il testo separato in due colonne. ho trovato sensato dividere anche le altre pagine in due colonne, in quanto sarebbe
 * stato insensato per la piccola quantità di elementi presenti*/
div.col1  
{
    width: 45%;
    height: 75%;
    float: left;
}

div.col2
{
    width: 45%;
    float: right;
    position: relative;
    padding-bottom: 100px;
}
footer
{
    height: 100px;
    width: 99%;
    position: absolute;
    bottom: 1%;
    background-color: white;
}

header
{
    background-color: lightgray; 
    position:relative;
    top: -10px;
    font-style: oblique;
}


@media screen and (max-width:1024px) and (min-width:480px)
{
    body 
{
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: black;
    background-color: #F0F7DA;  
}

/*dichiaro le caratteristiche stilistiche per i titoli
 *tutti i titoli avranno un font diverso, per motivi di leggibilità
 * i titoli più rilevanti (dal h1 al h3) avranno colori diversi
 * per rimarcare la differenza di importanza
 */

 h1,h2,h3,h4,h5,h6
 {
    font-family: Verdena, sans-serif;
 }

h1
{
    font-style: italic;
    color: #1F192F;
}

h2
{
    color: #2D6073;
}

h3
{
    color: #65B8A6;
}

/*quando l'utente passa il mouse sopra un link, questo verrà evidenziato, in maniera graduale*/
 a:hover
{
    background-color: #B5E8C3;
    color: orange;
    transition: background-color;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
}

/* quando l'utente non avrà più il mouse sopra un link, questo tornerà gradualmente alle sue dimensioni originali*/
a
{
    text-decoration: none;
    transition: 0.5s;
    color: black;
}

/*la navigazione all'interno del sito (login, Venditore e via dicendo) sarà una lista posta a sinistra rispetto alla pagina*/

nav#navigator, nav#navigator a
{
    text-align: right;
    
    transition: none;
    border-radius: 0px;
}

nav#navigator a:hover
{
    color: black;
    transition: none;
    font-size: 15px;
    border: 2px solid blue;
    border-radius:0px;
    padding: 1px;
    background-color: lightgray;
}

li
{   
    display: inline;
    text-align: center;
}
/*vado a modificare gli stili di input sia per il login che per l'inserimento dei nuovi articoli*/ 
input
{
    font-family: "Times New Roman", Elvetica, sans-serif; 
    margin: 4px;
    padding: 5px;
}
input:focus,#descrizioneitm:focus
{
    border: 2px solid grey;
    background-color: lightyellow; 
}

input#submit
{
    margin-top: 7%;
    text-align: center;
    height: 33%;
    width: 66%;
    font-size: 200%;
}

form
{
   text-align: left;
   position: absolute;
   left:45%;
}


/*imposto le caratteristiche per la tabella*/
table, th, td
{
    border-collapse: collapse;
    border: 1px solid orange;
    text-align: center;
}

tr#pari
{
    background-color: #e5f2c0;
}

th
{
    font-style: italic;
    font-family: "Amaranth", Verdana, sans-serif;
    background-color: #ddedab;
    color:#1F192F;
    height: 75px;
}

/*imposto le caratteristiche delle colonne e delle righe. nel file cliente.html sono stati aggiunti gli ID per evitare di andare a modificare tutte le tabelle
 *che sono o che saranno presenti, limitando le modifiche alla sola interfaccia del cliente*/

#descrizione
{
    width:50%;
    text-align: left;
}
th#descrizione
{
    text-align: center;
}

#immagine
{
    width: 6%;
    height: 6%;
}

#price
{
    width: 5%;
}

#nomearticolo
{
    width: 5%;
}

#qta
{
    width: 4%;
}

#acquisto-car
{
    width: 10%;
}

}
footer
{
    display: none;
}

header
{
    background-color: lightgray; 
    position:relative;
    top: -10px;
    font-style: oblique;
}


@media screen and (max-width:480px)
{

div.col2
{
    background-color: white;

}
#immagine,#descrizione, #navigator2,footer
{
    display: none;
}

table, th, td
{
    border-collapse: collapse;
    border: 1px solid orange;
    text-align: center;
}

tr#pari
{
    background-color: #e5f2c0;
}

th
{
    font-style: italic;
    font-family: "Amaranth", Verdana, sans-serif;
    background-color: #ddedab;
    color:#1F192F;
    height: 5%;
}


}
